.header-favoritos {
  align-items: center;
  background-color: #ddf033;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  height: 137px;
  justify-content: center;
  padding-left: 280px;
  position: fixed;
  top: 0;
  width: 100%;
}

.list-favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 280px;
  margin-top: 137px;
  padding: 45px;
}
