* {
  color: black;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header-container {
  align-items: center;
  background-color: #0d9faf;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  left: 0;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 280px;
  z-index: 3;
}

.logo-login-header {
  align-content: center;
  background-color: #ddf033;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0.3, 0.3, 0.3, 0.4);
  display: flex;
  font-weight: 70;
  height: 106px;
  justify-content: center;
  padding: 15px;
  width: 200px;
}

.ul-header {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: space-around;
  width: 135px;
}

.li-header {
  font-size: 15px;
  list-style: none;
  padding: 11px;
  transition: 0.8s;
}

.li-header:hover {
  border-radius: 5px;
  font-size: 13px;
  text-decoration: none;
  transform: scale(1.2);
  transition: 0.5s;
}

.selected {
  background-color: #ddf033;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0.3, 0.3, 0.3, 0.4);
  font-size: 13px;
  padding: 10px;
  transition: 0.8s;
}

.bem-vindo-header h1 {
  font-size: 20px;
  margin-bottom: 50px;
}
