.fundo-login {
  align-items: center;
  background-color: #c1d03e;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.white-box-login {
  background-color: #e1defc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0.3, 0.3, 0.3, 0.4);
  padding: 25px;
  position: relative;
  top: -100px;
}

.center-login {
  height: 266px;
  position: relative;
  text-align: center;
  top: 30px;
}

.login-box {
  margin-top: 20px;
}

.input-login {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0.3, 0.3, 0.3, 0.4);
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.button-login {
  background-color: #ddf033;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0.3, 0.3, 0.3, 0.4);
  color: black;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

.button-login:disabled {
  background-color: #e7eea6;
  color: black;
  cursor: not-allowed;
}

.logo-login {
  background-color: #ddf033;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0.3, 0.3, 0.3, 0.4);
  padding: 17px;
}
