.music-card {
  align-items: center;
  background-color: #0d9faf;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 200px;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  width: 400px;
}

.switch-text {
  font-size: 1rem;
  padding: 0.3rem;
}

.switch-favorito .switch-wrapper {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.switch-favorito .switch-wrapper input {
  display: none;
}
