.page-perfil {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 280px;
}

.main-perfil {
  align-items: center;
  background-color: #0d9faf;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  padding: 40px;
  width: 35%;
}

.img-link {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding: 50px;
}

.link-perfil {
  background-color: #ddf033;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  padding: 10px;
}

.img-perfil {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  height: 150px;
  width: 150px;
}

.name-email-description {
  background-color: #ddf033;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 70%;
  padding: 20px;
}
