@font-face {
  font-family: "ITC Avant Garde Pro Bold";
  src: url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardePro-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Avant Garde Gothic";
  src:
    local("ITC Avant Garde Gothic Bold"),
    local("ITC-Avant-Garde-Gothic-Bold"),
    url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardeStd-Bold.woff2")
      format("woff2"),
    url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardeStd-Bold.woff")
      format("woff"),
    url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardeStd-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Avant Garde Gothic Bk";
  src:
    local("ITC Avant Garde Gothic Bk"),
    local("ITC-Avant-Garde-Gothic-Bk"),
    url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardeStd-Bk.woff2")
      format("woff2"),
    url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardeStd-Bk.woff")
      format("woff"),
    url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardeStd-Bk.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ITC Avant Garde Gothic";
  src:
    local("ITC Avant Garde Gothic Demi"),
    local("ITC-Avant-Garde-Gothic-Demi"),
    url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardeStd-Demi.woff2")
      format("woff2"),
    url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardeStd-Demi.woff")
      format("woff"),
    url("/home/ie/TRYBE/projetos/Trybe-Tunes/sd-031-b-project-trybetunes/src/assets/fonts/ITCAvantGardeStd-Demi.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ITC Avant Garde Gothic Bk";
  list-style: none;
  text-decoration: none;
  color: rgb(77, 71, 71);
}

body {
  margin: 0;
  font-family: "ITC Avant Garde Gothic Bk", bold, "ITC Avant Garde Pro Bold", bold,
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "ITC Avant Garde Gothic Bk", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

.loading {
  align-items: center;
  display: flex;
  justify-content: center;
}
